.makeanevent {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.previousEvents {
  margin-top: 3%;
  font-size: 1em;
  padding: 1%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: #fffacd;
  border: none;
  text-align: center;
}
